* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Grid */

.grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color: #011826;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.sidebar .sidebar-logo img{
    width: 200px;
}

.menu li {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style-type: none;

}

.menu a {
    text-decoration: none;
    color: #F2C9D8;
    font-size: 1.3rem;

}

.menu-bars {
    display: none;
}



/* Header */

header {
    grid-area: header;
    background-color: #143447;
    padding: 2rem;
    display: flex;
    justify-content: end;
    gap: 23px;
}

header form input {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;  
}


main {
    grid-area: main;
    background-color: #012840;

}

main img {
    width: 20%;
}

/* main .card-container {

}

main .card-container {
    grid-area: cards;
}

main .card-container {
    grid-area: pagination;
} */

footer {
    grid-area: footer;
    background-color: #025E73;
    padding: 2rem;
    position: relative;
}