* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Grid */

.grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "footer footer";
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar .sidebar-logo img{
    width: 200px;
}

.menu li {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;


}

.menu-bars {
    display: none;
}



/* Header */

header {
    grid-area: header;
    background-color: #1b1b1b;
    padding: 2rem;
    display: flex;
    justify-content: end;
    gap: 23px;
}

header form input {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;  
}

.cart-shopping {
    margin-top: 5px;
}

.cart-shopping a {
    color: rgb(143, 26, 26);
    font-size: 20px;
}

/* Main */


main {
    grid-area: main;
    background-color: #ddd;
}

main .title {
   text-align: center;
   margin-top: 0.7rem;
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
}

main img {
    width: 60%;
    margin: 3rem;
}

main .card img {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgb(76, 76, 76);
    background-color: white;
}



main .card-container { 
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "articles"
    "pagination";

}

main .card-container { 
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

main .card-container {
    grid-area: pagination;
} 

/* Pagination */

.pagination {
    text-align: center;
    padding: 2rem;
    margin: 0.8rem;

}

.pagination a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: larger;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 1px 0px 7px;
    border-radius: 4px;
    color: #1b1b1b;
    
}

.pagination a:hover {
    color: rgb(79, 13, 13);
    transition: 0.2s;
}





/* Footer */

footer {
    grid-area: footer;
    background-color: #211c1c;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer .mail{
    width: 300px;
    height: 30px;
    
}

.form-wrapped .subscribe-button {
    border-radius: 10px;
    padding: 0.4rem;
    background-color: rgb(79, 13, 13);
    color: white;
    
    
}

footer p {
    color: white;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    font-size: 26px;
}

footer a {
    color: #5e5d5d;
    
}

footer a:hover {
    color: rgb(79, 13, 13);
    transition: 0.3s;
}

.form-wrapped {
    text-align: center;
    padding: 2rem;

}

.form-wrapped h4 {
    color: white;
}

footer h3 {
    color: white;
    text-align: end;
    font-size: 13px;
}

@media (max-width: 576px) {

    .grid-container {
       grid-template-columns: 1fr;
       grid-template-rows: auto auto 1fr auto;
       grid-template-areas: 
       "sidebar"
       "header"
       "main"
       "footer";
       
    }
    
    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem
  
    }

    .menu {
        display: none;
    }

    .menu-bars {
        display: contents;
    
    }


    .sidebar .sidebar-logo img {
        width: 200px;
    }

    .menu-bars a {
        color: black;
        font-size: 26px;
    }


    main .card-container {
        grid-template-columns: 1fr;

    }

    .card {
        margin-left: 4.4rem;
    }

    footer h3 {
        padding-top: 2rem;
        
    }

}

